.pk-NotFoundScreen {
  @media (min-width: 576px) {
    text-align: center;
  }

  &-title {
    color: var(--c-primary);
    font-size: 56px;
    margin: 0;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      font-size: 104px;
    }
  }

  &-description {
    color: var(--c-font);
    margin-bottom: 24px;

    h2,
    p {
      margin: 0;
    }

    h2 {
      margin-bottom: 8px;

      @media (min-width: 768px) {
        font-size: 40px;
      }
    }

    p {
      line-height: 24px;
    }
  }

  &-imageContainer {
    display: flex;
    justify-content: center;

    svg {
      width: 344px;
      height: 344px;
    }
  }
}
