.pk-PokemonList {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  &-item {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 32px;

    @media (min-width: 576px) {
      width: 33.333333%;
    }

    @media (min-width: 992px) {
      width: 25%;
    }
  }
}
