.pk-SharedHeader {
  padding-left: 16px;
  padding-right: 16px;

  .pk-SharedHeader-content {
    display: flex;
    height: inherit;
    align-items: center;
  }

  .pk-SharedHeader-logoContainer {
    flex: 0 0 auto;
    padding: 16px;
    display: inline-flex;
    margin-left: -16px;
    color: var(--c-primary);
  }

  .pk-SharedHeader-offset {
    flex: 1 1 auto;
  }

  .pk-SharedHeader-searchContainer {
    width: 100%;
    display: flex;

    @media (min-width: 576px) {
      width: auto;
    }
  }

  .pk-SharedHeader-searchForm {
    width: inherit;
  }

  .pk-SharedHeader-themeModeContainer {
    flex: 0 0 auto;
    padding: 16px;
    display: inline-flex;
    margin-right: -16px;
  }
}
