.pk-SharedHeader-search {
  width: inherit;
  position: relative;

  .pk-SharedHeader-search-input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 8px;
    background: #eee;
    border: none;
    height: 40px;
    font-size: 16px;
    background: var(--c-default);
    color: var(--c-font);
    padding-left: 42px;
  }

  & svg {
    fill: var(--c-gray);
    top: 8px;
    bottom: 0;
    position: absolute;
    left: 12px;
  }
}
