.pk-PokemonCard {
  margin-bottom: 16px;

  &-imageContainer {
    height: 136px;
    width: 100%;
    background-color: var(--c-default);
    border-radius: 8px;
    margin-bottom: 8px;

    @media (min-width: 576px) {
      height: 186px;
    }

    @media (min-width: 992px) {
      height: 236px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  &-titleContainer {
    color: var(--c-primary);
    margin-bottom: 8px;
  }

  &-number {
    color: gray;
  }

  &-types {
    display: flex;
    margin-right: -4px;
    margin-left: -4px;
  }

  &-typeItem {
    padding-right: 4px;
    padding-left: 4px;
  }
}
