@import './theme.scss';

:root {
  --bgc-body: #ffffff;
}

[data-theme='dark'] {
  --bgc-body: #353b40;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: var(--ff-sans-serif);
  margin: 0;
  background-color: var(--bgc-body);
}

main {
  margin-bottom: 40px;
}
