.pk-PokemonType {
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  color: #fff;

  &.u-grass {
    background-color: #9bcc50;
  }
  &.u-poison {
    background-color: #b97fc9;
  }
}
