.pk-Header {
  padding-left: 16px;
  padding-right: 16px;

  &-content {
    display: flex;
    height: inherit;
    align-items: center;
  }

  &-logoContainer {
    flex: 0 0 auto;
    padding: 16px;
    display: inline-flex;
    margin-left: -16px;

    svg {
      fill: rgb(194, 216, 255);
    }
  }

  &-offset {
    flex: 1 1 auto;
  }

  &-searchContainer {
    width: 100%;
    display: flex;

    @media (min-width: 576px) {
      width: auto;
    }
  }

  &-themeModeContainer {
    flex: 0 0 auto;
    padding: 16px;
    display: inline-flex;
    margin-right: -16px;

    svg {
      stroke: rgb(194, 216, 255);
    }
  }
}
