.pk-PokemonDetail {
  &-title {
    color: var(--c-primary);
    margin-top: 0;
    margin-bottom: 16px;
  }

  &-number {
    color: gray;
  }

  &-content {
    @media (min-width: 768px) {
      display: flex;
      margin-right: -8px;
      margin-left: -8px;
    }
  }

  &-column {
    @media (min-width: 768px) {
      position: relative;
      width: 50%;
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  &-imageContainer {
    width: 100%;
    background: var(--c-secondary);
    border-radius: 8px;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  &-subtitle {
    color: var(--c-primary);
    margin-top: 0;
    margin-bottom: 8px;
  }

  &-types {
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
  }

  &-typeItem {
    padding-right: 8px;
    padding-left: 8px;
  }

  &-section {
    margin-bottom: 16px;
  }

  &-stats {
    color: #ffffff;
  }
}
