.pk-PokemonDetail {
  &-title {
    color: rgb(194, 216, 255);
    margin-top: 0;
    margin-bottom: 8px;
  }

  &-number {
    color: gray;
  }

  &-imageContainer {
    width: 100%;
    background: rgb(64, 77, 86);
    border-radius: 8px;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  &-subtitle {
    color: rgb(194, 216, 255);
    margin-top: 0;
    margin-bottom: 8px;
  }

  &-section {
    margin-bottom: 16px;
  }

  &-stats {
    color: #ffffff;
  }
}
