* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: var(--ff-sans-serif);
  margin: 0;
  background-color: var(--c-background);
}

main {
  margin-bottom: 40px;
}
