.pk-PokemonDetail-contentLoader {
  &-title {
    margin-top: 0;
    margin-bottom: 16px;

    height: 28px;
    width: 144px;
    border-radius: 8px;
    background-color: var(--c-default);
  }

  &-content {
    @media (min-width: 768px) {
      display: flex;
      margin-right: -8px;
      margin-left: -8px;
    }
  }

  &-column {
    @media (min-width: 768px) {
      position: relative;
      width: 50%;
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  &-imageContainer {
    margin-bottom: 16px;

    height: 346px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--c-default);
  }

  &-subtitle {
    margin-top: 0;
    margin-bottom: 8px;

    height: 22px;
    width: 56px;
    border-radius: 8px;
    background-color: var(--c-default);
  }

  &-types {
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
  }

  &-typeItem {
    padding-right: 8px;
    padding-left: 8px;
  }

  &-section {
    margin-bottom: 16px;
  }
}
